@model SchoolRegister.Models.ViewModels.CreateTeacherViewModel
@{
    Layout = "_LayoutAdmin";
}

<h2>Add new teacher</h2>
<form method="post">
    <div asp-validation-summary="All"></div>
    <div class="mb-3">
        <span asp-validation-for="Name"></span>
        <label asp-for="Name"></label>
        <input asp-for="Name" class="form-control-sm"/>
    </div>
    <div class="mb-3">
        <span asp-validation-for="Surname"></span>
        <label asp-for="Surname"></label>
        <input asp-for="Surname" class="form-control-sm"/>
    </div>
    <input type="submit" value="Confirm" class="btn btn-info"/>
</form>