@model SchoolRegister.Models.ViewModels.AdminPanelViewModel
@{
    Layout = "_Layout";
}

<h1>Admin panel</h1>
<p>Class count : @Model.ClassCount</p>
<a class="btn-info">Add new class</a>
<p>Student count : @Model.StudentCount</p>
<p>Teacher count : @Model.TeacherCount</p>
