<li class="nav-item text-white"><p class="adm-view-text text-center">Administrator View</p></li>
<li class="text-white"><hr/></li>
<li class="nav-item"><a class="nav-link text-white text-center" asp-controller="Admin" asp-action="SchoolClassList">Class list</a></li>
<li class="nav-item"><a class="nav-link text-white text-center" asp-controller="Admin" asp-action="SubjectList">Subject list</a></li>
<li class="nav-item"><a class="nav-link text-white text-center" asp-controller="Admin" asp-action="TeacherList">Teacher list</a></li>
<li class="text-white"><hr/></li>
<li class="nav-item"><a class="nav-link text-white text-center" asp-controller="Account" asp-action="UserList">User list</a></li>
<li class="nav-item"><a class="nav-link text-white text-center" asp-controller="Account" asp-action="RoleList">Role list</a></li>
<li class="text-white"><hr/></li>
<li class="nav-item"><a class="nav-link text-white text-center" asp-controller="Message" asp-action="Index">Messages</a></li>
<li class="nav-item"><a class="nav-link text-white text-center" asp-controller="Account" asp-action="Logout">Logout</a></li>