<li><p class="adm-view-text text-center">@User.Identity.Name</p></li>
<li><a class="nav-link nav-item text-white text-center" asp-controller="Student" asp-action="Index">Grades</a></li>
<li><a class="nav-link nav-item text-white text-center">Lesson plan</a></li>
<li><a class="nav-link nav-item text-white text-center">Messages</a></li>
<li><a class="nav-link nav-item text-white text-center" asp-controller="Announcements" asp-action="Index">Announcements</a></li>
<li><a class="nav-link nav-item text-white text-center">Help</a></li>
<li><a class="nav-link nav-item text-white text-center" asp-controller="Account" asp-action="Logout">Logout</a></li>