@model SchoolRegister.Models.ViewModels.ChangePasswordViewModel

<h2>Changing password for @Model.UserName</h2>
<form method="post">
    <div asp-validation-summary="All"></div>
    <div>
        <span asp-validation-for="NewPassword"></span>
        <label asp-for="NewPassword"></label>
        <input asp-for="NewPassword" class="form-control-sm"/>
    </div>
    <input type="hidden" asp-for="UserName"/>
    <input type="hidden" asp-for="UserId"/>
    <input type="submit" value="Confirm" class="btn btn-info"/>
</form>