@model Microsoft.AspNetCore.Identity.IdentityRole<int>

@{
    Layout = "_LayoutAdmin";
}

<h2>Edit role @Model.Name</h2>
<form method="post">
    <div asp-validation-summary="All"></div>
    <div class="mb-3">
        <span asp-validation-for="Name"></span>
        <label asp-for="Name"></label>
        <input asp-for="Name" class="form-control-sm"/>
    </div>
    <input type="hidden" asp-for="Id"/>
    <input type="hidden" asp-for="ConcurrencyStamp"/>
    <input type="hidden" asp-for="NormalizedName"/>
    <input type="submit" class="btn btn-info" value="Confirm"/>
</form>