@model Microsoft.AspNetCore.Identity.IdentityRole

@{
    Layout = "_LayoutAdmin";
}

<form method="post">
    <div asp-validation-summary="All"></div>
    <div>
        <span asp-validation-for="Name"></span>
        <label asp-for="Name"></label>
        <input asp-for="Name"/>
    </div>
    <input type="hidden" asp-for="Id"/>
    <input type="hidden" asp-for="ConcurrencyStamp"/>
    <input type="hidden" asp-for="NormalizedName"/>
    <input type="submit" class="btn btn-info" value="Confirm"/>
</form>