@model SchoolRegister.Models.ViewModels.User.UserViewModel

<a class="btn btn-info mb-3" asp-controller="Account" asp-action="UserList">Back</a>
<h2>User data display</h2>
<table class="table table-bordered">
    <tr>
        <th>Id</th>
        <td>@Model.UserId</td>
    </tr>
    <tr>
        <th>Username</th>
        <td>@Model.UserName</td>
    </tr>
    <tr>
        <th>Password</th>
        <td>@Model.Password</td>
    </tr>
</table>