@model IEnumerable<SchoolRegister.Models.AppUser>
@{
    Layout = "_LayoutAdmin";
}

<h2>User list</h2>
<table class="table table-bordered">
    <tr>
        <th>Username</th>
        <th>Email</th>
        <th>Actions</th>
    </tr>
    @foreach (var user in Model) {
        <tr>
            <td>@user.UserName</td>
            <td>@user.Email</td>
            <td>
                <a class="btn btn-info" asp-controller="Account" asp-action="ChangePasswordForUser" asp-route-userId="@user.Id">Change password</a>
            </td>
        </tr>
    }
</table>