@using Microsoft.AspNetCore.Mvc.TagHelpers
@model Data.ViewModels.SubjectViewModel

<h2>Create new subject</h2>
<form method="post">
    <div asp-validation-summary="All"></div>
    <div class="mb-3">
        <span asp-validation-for="@Model.Name" class="form-label"></span>
        <label asp-for="@Model.Name"></label>
        <input asp-for="@Model.Name" id="name-input"/>
    </div>
    <input type="submit" value="Confirm" class="btn btn-info"/>
</form>