@model IEnumerable<SchoolRegister.Models.ViewModels.TeacherSubjectViewModel>

<h2>Class list</h2>
@foreach (var teachingModel in Model) {
    <h2>@teachingModel.SchoolClass.Name</h2>
    <table class="table table-bordered table-hover">
        <tr>
            <th>Subject</th>
            <th>Actions</th>
        </tr>
        @foreach (var subject in teachingModel.Subject) {
            <tr>
                <td>@subject.Name</td>
                <td class="d-flex gap-2">
                    <a class="btn btn-info flex-fill" asp-controller="Teacher" asp-action="ViewClassSubject" asp-route-subjectId="@subject.Id">View</a>
                </td>
            </tr>
        }
    </table>
}