@model IEnumerable<SchoolRegister.Models.StudentSubject>

<h2>Class view</h2>
<table class="table table-bordered">
    <tr>
        <th>Name</th>
        <th>Action</th>
    </tr>
    @foreach (var schoolClass in Model) {
        <tr>
            <td></td>
        </tr>
    }
</table>