@model IEnumerable<SchoolRegister.Models.Message>

<h2 class="text-center mb-4">Message list</h2>
<div class="d-flex gap-2">
    <div class="d-flex flex-column">
        <a class="btn btn-success mb-2" asp-controller="Message" asp-action="Write">New message</a>
        <a class="btn btn-primary" asp-controller="Message" asp-action="SentList">Sent messages</a>
    </div>
    <partial name="_MessageListPartial" model="Model"/>
</div>
