@using Microsoft.AspNetCore.Mvc.TagHelpers

@model Data.Models.Teacher

<form method="post">
    <div asp-validation-summary="All"></div>
    <div class="mb-3">
        <span asp-validation-for="User.Name"></span>
        <label asp-for="User.Name"></label>
        <input asp-for="User.Name"/>
    </div>
    <div class="mb-3">
        <span asp-validation-for="User.Surname"></span>
        <label asp-for="User.Surname"></label>
        <input asp-for="User.Surname"/>
    </div>
    <input type="hidden" asp-for="Id"/>
    <input type="hidden" asp-for="SchoolSubjects"/>
    <input type="submit" value="Confirm" class="btn btn-info"/>
</form>