@using Microsoft.AspNetCore.Mvc.TagHelpers
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData["Title"] - SchoolRegister</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="~/css/selectize.bootstrap5.css"/>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true"/>
    <style>
        body { margin: 0; }

        .navbar-brand {
            font-weight: bold;
            font-size: 1.6em;
        }

        .nav { padding: 0; }

        .ul { padding: 0; }

        .nav a { color: #dddddd; }

        .adm-view-text {
            font-size: 0.7em;
            color: #bbbbbb;
            font-weight: lighter;
        }

        .bg-brown { background-color: #292525; }

        .nav-item:hover { background-color: #191515; }
    </style>
</head>
<body>
<div class="flex-row d-flex">
    <header style="width: 20%">
        <nav class="bg-brown h-100 min-vh-100">
            <ul class="nav flex-column sticky-top">
                <li>
                    <a class="navbar-brand nav-link text-white text-center" asp-controller="Teacher" asp-action="Index">School Register</a>
                </li>
                @if (User.IsInRole("Admin")) {
                    <partial name="_AdminPartial"/>
                }
                else if (User.IsInRole("Teacher")) {
                    <partial name="_TeacherPartial"/>
                }
                else if (User.IsInRole("Student")) {
                    <partial name="_StudentPartial"/>
                }
                else {
                    <partial name="_DefaultPartial"/>
                }
            </ul>
        </nav>
    </header>
    <div class="container" style="padding: 25px">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
</div>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/lib/selectize/js/selectize.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>
@await RenderSectionAsync("Scripts", required: false)
</body>
</html>