@model SchoolRegister.Models.Student
@{
    Layout = "_Layout";
}

<p>@Model.Name @Model.Class.Name</p>
<hr/>
<table class="table table-bordered">
    <tr>
        <th>Subject</th>
        <th>Grades</th>
        <th>Average</th>
    </tr>
    @foreach (var subject in Model.StudentSubjects) {
        <tr>
            <td>@subject.Subject.Name</td>
            <td>
                @foreach (var grade in subject.Grades) {
                    @grade.GetGradeName() 
                }
            </td>
            <td>avg lol</td>
        </tr>
    }
</table>