@model SchoolRegister.Models.ViewModels.AnnouncementCreateViewModel

<h2>Add announcement</h2>
<form method="post">
    <div asp-validation-summary="All"></div>
    <div class="mb-3">
        <span asp-validation-for="Title"></span>
        <label asp-for="Title"></label><br/>
        <input asp-for="Title" class="form-control-sm"/>
    </div>
    <div class="mb-3">
        <span asp-validation-for="Description"></span>
        <label asp-for="Description"></label>
        <textarea asp-for="Description" class="form-control"></textarea>
    </div>
    <input type="hidden" asp-for="Id"/>
    <input type="hidden" asp-for="TeacherId"/>
    <input type="submit" class="btn btn-info" value="Confirm"/>
</form>